<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div id="index">
        <div>
            <table>
                <tbody>
                <tr>
                    <th>Action</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th>TTL</th>
                </tr>
                </tbody>
                <tbody>
                <tr v-for="info in objData.nodes">
                    <td>{{info.action}}</td>
                    <td>{{info.node.key}}</td>
                    <td>{{info.node.value}}</td>
                    <td>{{info.node.ttl}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/require.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script>
    require(["worker"],function(worker){});
</script>
</html>